<h1>Reservation made!</h1>

<!-- reservation_controller - show method -->

<h3><%= @restaurant.name %><br></h3>
<%= @reservation.date.strftime("%A %B %d at %-I %p")  %>
<p> Number of people: <%= @reservation.party_size %></p>
<p></p>


<h4> Upcoming Reservations </h4>
<p><% if current_user == @restaurant.user %>
list of all reservations made by user
<% end %>
</p> 

<p>
<%= link_to 'Check out more restaurants!', restaurants_url  %> 
</p> 
