<h1>Thank you for your reservation!</h1>

<!-- reservation_controller - show method -->
<p>user name<br>
restaurant name<br>
reservation date and time<br>


<%= link_to 'Check out more restaurants?', restaurants_url  %> 

 </p> 
