<h1>WELCOME TO SEAT-YOURSELF!</h1>

<%= link_to "Add a Restaurant", "/restaurants/new" %>

<ul>
	<% @restaurants.each do |r| %>
	<%= link_to(r) do %>
  			<li><%= r.name %></li>			
		<% end %>

<% end %>
</ul>
