@import "bootstrap";
 
a { 
    color: grey;
}

body {
 	background: black; 
 	color: white;
}

.logo {
	float: right;
	width: 200px;
	height: 200px;
	img {
		width: 200%;
	}
}

h1 {
  color: red;
  margin-left: 0px;
}

.boxes {
	border: 1px solid white;
	width: 180px;
	float: left;
	padding: 10px;
	margin: 5px;

}

.actions {
	clear: both;
}

input#user_password_confirmation {
	width: 158px;
}

input[type='submit'] {
	margin-top: 5px;
	margin-left: 30px;

}




