@import "bootstrap";
 
a { 
    color: grey;
}

body {
 	background: black; 
 	color: grey;
}

h1 {
  color: red;
  margin-left: 0px;
}

.boxes {
	border: 1px white solid;
	width: 180px;
	float: left;
	padding: 10px;
	margin: 5px;

}

.actions {
	clear: both;
}

input#user_password_confirmation {
	width: 158px;
}

input[type='submit'] {
	margin-top: 14px;
	margin-left: 4px;
}
